<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="pageStyles.css">
    <meta charset="UTF-8">
    <title>Oingo Register</title>
</head>
    <div class="container">
        <div class="container">
            Welcome to Oingo
        </div>
        <div class="container">
            <input class="form-control" placeholder="username"/>
        </div>
        <div class="container">
            <input type="password" class="form-control" placeholder="password"/>
        </div>
        <div class="container">
        <input class="btn btn-primary col-sm" type="button" value="Start My Journey">
        </div>
    </div>
</body>
</html>