<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>


<form action="/account/register/" method="post">
    {% csrf_token %}
    <label>username</label>
    <input type="text" placeholder="your username" name="username">
    {{ errMsgUsername }}

    <label>password</label>
    <input type="password" name="password">
    {{ errMsgPassword }}

    <button type="submit">Register</button>
</form>



</body>
</html>