<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <title>Oingo</title>
</head>
<body>
<div>
    <!-- Top bar -->
    <div class="container">
        <div style="padding: 10px; display: inline-block">
            <a href="/timeline/"><b>OINGO</b></a>
        </div>
        {% if user_status %}
        <div style="padding: 10px; display: inline-block">
            <a href="/account/friend/request/">friends</a>
        </div>
        <div style="padding: 10px; display: inline-block">
            <a href="/note/create/">write</a>
        </div>
        <div style="padding: 10px; display: inline-block">
            <a href="/account/profile/">profile</a>
        </div>
        <div style="padding: 10px; display: inline-block">
            <a href="/filter/create/">filter</a>
        </div>
        <div style="padding: 10px; display: inline-block">
            <a href="/account/logout/"><b>{{ user_username }}</b> -> log out</a>
        </div>
        {% else %}
        <div style="padding: 10px; display: inline-block">
            <a href="/account/register/">register</a> / <a href="/account/login/">login</a>
        </div>
        {% endif %}
        <div style="padding: 10px; display: inline-block">
            <a href="/timeline/" id="getMyPosition">
                <i class="fas fa-crosshairs"></i> Getting location...
            </a>
        </div>
    </div>
</div>

<div class="container" align="center">
    <div class="alert alert-warning" role="alert" id="info"> PLEASE ALLOW POSITION PERMISSION </div>
</div>
</body>

<script>
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
        let lat = position.coords.latitude;
        let lng = position.coords.longitude;
        console.log(lat);
        console.log(lng);
        let getMyPositon = document.getElementById("getMyPosition");
        let infoBox = document.getElementById("info");
        getMyPositon.innerHTML = "<i class=\"fas fa-crosshairs\"></i> Location Get!";
        getMyPositon.setAttribute("href", "/timeline/@" + lat + "," + lng + "/");
        infoBox.innerHTML = "Gotcha! Redirecting for you...";
        infoBox.setAttribute("class", "alert alert-success");
        window.location.href = "/timeline/@" + lat + "," + lng + "/";
    });
}
</script>

</html>